/* INIZIO HEADER */
.ms_header{
        background-color: aquamarine;
}

.ms_height_header{
        height: 5.625rem;

}
/* FINE HEADER */
/* INIZIO MAIN */
/* Aside Section */
.ms_color, .ms_color_main{
    background-color: bisque;
}
.ms_color{
    height: calc(100vh - 5.625rem);
}
.ms_colordue{
    background-color: violet;
}
/* Main Section */
.ms_main_top{
    background-color: blue;
}
/* FINE MAIN */