

/* INIZIO HEADER */
.ms_height_header{
    height: 5.625rem;
}
/* Logo */
.ms_logo_mobile{
    width: 3.75rem;
}
/* Search */
input.form-control{
    background-color: #e5e5e5;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid gray;
}
/* Nav */
.fa-bell{
    color: #ff8f00;
}
div.dropdown button.btn{
    background-color: transparent;
}
/* FINE HEADER */
/* INIZIO MAIN */
/* Aside Section */
.ms_aside{
    height: calc(100vh - 5.625rem);
    font-size: 1.25rem;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
.ms_colordue{
    background-color: #f8f9fa;
    height: calc(100vh - 5.625rem);
}
/* Main Section */
.ms_main_top{
    background-color: #1b72e8;
    color: #fff;
    font-size: 20px;
}
/* Main top */
.ms_offcanvas{
    width: 900px;
    top: 0;
    right: 0;
}
.ms_badge{
    background-color: #165bba;
}
.ms_arrows{
    vertical-align: sub;
}
.ms_app_section{
    display: ruby-text;
}
.ms_margin{
    margin-right: 70px;
}
/* Main bottom */
.ms_avatar{
    width: 2.5rem;
}
.fa-pen, .fa-trash{
    font-size: 13px;
}
div.card-header{
    background-color: #f7f7f7;
}
/* FINE MAIN */

/* HOVER */
.fa-pen:hover{
    background-color: #9c9c9c;
    color: #fff;
    cursor: pointer;
}
.fa-trash:hover{
    background-color: #9c9c9c;
    color: #fff;
    cursor: pointer;
}
.ms_hover:hover{
    background-color: #8e9ba7;
    cursor: pointer;
}